#logo2{
	margin-top: 50px;
	margin-left: 50px; 
	width: 100px;
  border-radius: 50%;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    background-color: #33ddff;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #33ddff;
}

#logo{
	width: 50px;
}
body{
	
}
h1{
	margin-top: 0;
    margin-bottom: 10px;
    margin-left: 40%;
   	color: #FF5722;
    font-weight: 1000;
    font-family: cursive;
}
h3{
	margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40%;
    color: blue;
}
#welcome{
	background-color: #ffe000; 
	width: 100%;
    height: 630px;

}
#div1{
	width: 100%;
	background-color: #fff18b;
	height: 30px;
}
#div2{
	width: 100%;
	background-color:#ffe94d;
	height: 50px;
}
#div3{
	width: 100%;
	height: 80px;
  background-color: #a2d82b;
  padding-left: 95px;
}
#div4{
	width: 100%;
	height: 4300px;
  background: url(imgs/bg.jpg) no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  margin-left: -8px;
  margin-right: 30px;
  
}
.column2 {
  float: left;
  width: 40%;
  padding: 5px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#game{
	margin-top: 100px;
	margin-left: 150px;
}
* {
  box-sizing: border-box;
}


.column:hover {
  -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari 3-8 */
  transform: scale(1.10); 
  border-radius: 20px;

}
.imggame{
	width:70% ; 
	border-radius: 20px;
}

.text {
	float: center;
	font-weight: 300;
  font-family: cursive;
	color: #FF5722;
	font-size: 30px;
	padding: 16px 32px;
}
.columntext {
  float: left;
  width: 10%;
  padding: 5px;
  margin-left: 250px;
  margin-right: 0;
  
}

.color{
	width: 100px;
	height: 100px;
	margin-left: 55px;
	margin-top: 50px; 
	border-radius: 8px;
}
.animal{
	width: 150px;
	height: 150px;
	margin-left: 55px;
	margin-top: 50px; 
	border-radius: 8px;
}
.animalname{
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 8px;
    color: #1e2197;
}
.animalslist {
  margin-left: 120px;
}
.colorguess{
	width: 100px;
	height: 50px;
	margin-left: 200px;
	margin-top: 100px; 
	border-radius: 8px;
}

.answer {
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  width: 38%;
}

.correct {
  color: #51e951;
  margin-left: 28%;
  margin-top: 5%;
  font-size: large;
  font-family: fantasy;
}

.wrong {
  color: #FF5722;
  margin-left: 28%;
  margin-top: 5%;
  font-size: large;
  font-family: fantasy;
}

.titleh1 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 30%;
  color: #FF5722;
  font-weight: 1000;
  font-family: cursive;
}
.titleh2 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20%;
  color: #FF5722;
  font-weight: 1000;
  font-family: cursive;
}
.titleh3 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10%;
  color: #FF5722;
  font-weight: 1000;
  font-family: cursive;
}
.numberplus {
  margin-right: -15px;
  margin-left: 93px;

}